server:
  port: 8080

spring:
  application:
    name: rule-engine
  
  datasource:
    url: jdbc:h2:mem:ruleenginedb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Logging
logging:
  level:
    com.lps.ruleengine: DEBUG
    org.springframework.boot: INFO
    
# Documentation
springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    try-it-out-enabled: true
    config-url: /v3/api-docs/swagger-config
    url: /v3/api-docs
  show-actuator: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
